<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604776907308-v9b3ps9a0mc2vclek3eki2q2l676d6up.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604776907308-v9b3ps9a0mc2vclek3eki2q2l676d6up</string>
	<key>API_KEY</key>
	<string>AIzaSyD4i-N1vIcHEDKEGBgRpHxsXIqbWBZ2jDM</string>
	<key>GCM_SENDER_ID</key>
	<string>604776907308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BrendonSambatti.MMCViewCode</string>
	<key>PROJECT_ID</key>
	<string>mmcviewcode-a4b14</string>
	<key>STORAGE_BUCKET</key>
	<string>mmcviewcode-a4b14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604776907308:ios:4c7c65a66dfbd8f6f60789</string>
</dict>
</plist>